table, tr, th, td {
    border: 1px solid #e3e3e3;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
}
table tr td:hover {
    background: #222;
    color: #f4f3f2;
    cursor: pointer;
}
.success, .error{
    width: 20%;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: inline-block;
  }
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}
#hoursDiv td:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
}